$myColor: rgb(63, 236, 184);


h1{
     color: $myColor;
}


#app{
     max-width: 500px;
     width: 100vw;
     margin: auto;

     display: flex;
     flex-direction: column;
     align-items: center;
}

#addProductButton{

     position: fixed;
     bottom: 200px;
     right: 20px;
     background-color: aquamarine;
}
#newProductFormContainer{
     display: flex;
     flex-direction: column;
     align-items: center;
     form{
          display: flex;
          flex-direction: column;
          align-items: center;
          padding-bottom: 30px;
     }
     #closeNewProductForm{

          position: absolute;
          bottom: 20px;
          left: 20px;
     }
}


#console{
     width: 80vw;
     margin-left: 10vw;
     height: 20vh;

     position: fixed;
     left: 0;
     top: 40vh;
     background-color: white;
     box-shadow: 3px 10px 10px 15px gray;
}
.vertical{
     display: flex;
     flex-direction: column;
     align-items: center;
}
.center{
     display: flex;
     align-items: center;
}
.just_center{
     justify-content: center;
}
.just_around{
     justify-content: space-around;
}

.hidden{
     display: none;
     font-weight: 200;
}

.marginAround30{
     margin: 30px;
}

.product{
     box-shadow: 1px 1px 1px 1px gray;
     width: 80vw;
     margin: auto;
     margin-top: 10px;
     padding: 10px 10px;

     display: flex;
     justify-content: space-between;
     align-items: center;
     position: relative;

     .prodDataContainer{
          /*align-items: center;*/
          width: calc(80vw - 150px);

     }
     .imgContainer{
          height: 100%;
     }

     img{
          width: 150px;
          height: 150px;
     }
     p{
          margin: 0px;
     }
     .prodImgData{
          position: relative;
          left: 2000px; 
          top: 0px;
     }
     &:hover{
          position: relative;
          left: 10px;
     }
}