$myColor: rgb(63, 236, 184);


h1{
     color: $myColor;
}
h3{
     font-weight: 100;
}
body{
     margin: 0;
     margin-top: 15px;
}

select, select:active, select:hover, input[type=file]:active, input[type=file]:hover, 
input[type=file]:focus, button{
     outline: none;
}
#app{
     max-width: 500px;
     width: 100%;
     margin: auto;

     display: flex;
     flex-direction: column;
     align-items: center;
}
#mainScreen{
     width: 100%;
}
#locButtons{
     width: 100%;

     button{
          font-size: 15px;
          width: 33%;
          min-height: 48px;
          border: none;
          background-color: white;
     }
}
#locations{
     width: 100%;
     select{
          width: 30%;
          height: 48px;
          font-size: 12px;
          overflow: hidden;
          text-align-last: center;
          background-image: none;
          background-color: transparent;
          border: none;
     }
}
#addProductButton{

     position: fixed;
     bottom: 20px;
     right: 20px;
     font-size: 20px;
     background-color: aquamarine;
     border-radius: 50%;
     border-color: aquamarine;
     box-shadow: 0px 0px 3px 1px gray; 
     height: 40px;
     width: 40px;
     padding-bottom: 5px;
}
#newProductFormContainer{
     display: flex;
     flex-direction: column;
     align-items: center;
     padding-bottom: 40px;
     form{
          display: flex;
          flex-direction: column;
          align-items: center;
          padding-bottom: 30px;
     }
     #closeNewProductForm{
          /*position: absolute; bottom: 20px;left: 20px;*/
     }
     input[type=text], input[type=number]{
          text-align: center;
          text-decoration: underline;
     }
     input[type=text]::placeholder{
          text-decoration: underline;
     }

     input[type=text]::placeholder{
          text-align: center;
     }
     textarea{
          margin-top: 15px;
          padding: 10px;
          text-align: center;
          border: 1px solid black;
          border-radius: 5px;
     }
     textarea::placeholder{
     }

     #productFormButtonsContainer{
          margin-top: 20px;
     }
     button{
          margin-left:10px;
          margin-right: 10px; 
          height: 48px;
          font-size: 20px;
          background-color: white;
          border: 2px solid black;
          border-radius: 5px;
     }
}


#console{
     width: 80vw;
     margin-left: 10vw;
     height: 20vh;

     position: fixed;
     left: 0;
     top: 40vh;
     background-color: white;
     box-shadow: 3px 10px 10px 15px gray;
}
.vertical{
     display: flex;
     flex-direction: column;
     align-items: center;
}
.flex{
     display: flex;
     align-items: center;
}
.center{
     display: flex;
     align-items: center;
}
.just_center{
     justify-content: center;
}
.just_around{
     justify-content: space-around;
}

.hidden{
     display: none;
     font-weight: 200;
}

.marginAround30{
     margin: 30px;
}
#productList{
     width: 100%;
     padding-bottom: 50px;
}


.shopContainer{
     margin-top: 30px;
     margin-bottom: 30px;
}

h3.locationBanner{
     font-family: Helvetica, sans-serif;
     font-weight: 200;
     margin-top: 10px;
     margin-bottom: 30px;
}
h3.locationBanner.noBottomMarg{
     margin-bottom: 0px;
}


.product{
     box-shadow: 1px 1px 1px 1px gray;
     border-radius: 3px;
     width: 90%;

     margin: auto;
     margin-top: 5px;
     margin-bottom: 5px;

     padding: 10px 10px;

     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     align-items: center;
     position: relative;

     .prodDataContainer{
          /*align-items: center;*/
          width: calc(95% - 100px);
          margin: auto;
     }
     .imgContainer{
          height: 100%;
     }
     
     p{
          margin: 0px;
     }
     .prodImgData{
          position: relative;
          left: 2000px; 
          top: 0px;
     }
     &:hover{
          /*--position: relative;
          left: 10px;*/
          box-shadow: 1px 1px 3px 3px gray;
     }
}

img{
     border-radius: 3px;
     width: 100px;
     height: 100px;
     margin: auto;
     transition: all ease-in .33s;
}
img.large{
     width: 300px;
     margin: auto;
     height: 300px;
     transition: all ease-in .33s;
}
.hide{
     display: none;
}