$myColor: rgb(63, 236, 184);


h1{
     color: $myColor;
}


#app{
     max-width: 500px;
     margin: auto;

     display: flex;
     flex-direction: column;
     align-items: center;
}

#addProductButton{

     position: fixed;
     bottom: 20px;
     right: 20px;
     background-color: aquamarine;
}

.vertical{
     display: flex;
     flex-direction: column;
     align-items: center;
}

.hidden{
     display: none;
     font-weight: 200;
}