<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style.css">
  
  <script src="https://unpkg.com/dexie@latest/dist/dexie.js"></script>
</head>
<body>
  <img src="https://www.dropbox.com/s/jl15lcir35926i5/okram%40protonmail.ch_D2018-01-12_T22-09-07.jpg" alt="img from DB">
  <br>
  <br>
  
<!--button id="db">
  dropbox
  </button-->
  
  
<h3>
  halo
</h3>
<div>
  <input id="mobileSwitch" type="file" name="image" accept="image/*" >  <!-- capture="environment" -->
</div>

<img id="preview" src="#">

  
  
  
  
<script src="client.js"></script>
</body>